#contacts {
  background-image: url(../images/geometric-art-7433559_1920.jpg);
  background-size: cover;
  background-position: center;
  
  position: relative;
  z-index: 1;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contacts::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 70%;
  z-index: -1;
}

#contacts h2 {
  color: white;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: .1rem;
  line-height: 1;
  margin-top: 3px;
}


/* -- Social media and direct contacts -- */

.contacts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 700px;
}

.social-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px 8px 20px;
}

.direct-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  padding: 10px 20px;
}

.direct-section h2 {
  font-size: 15px;
  margin-top: 2px;
  margin-bottom: 23px;
}

.fa-brands {
  color: rgb(255, 117, 207);
  margin: 15px;
}


/* -- Form -- */

.form-container {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 100%;
  margin-left: 45px;
}

.form-container textarea {
  box-sizing: border-box;
  height: 35px;
  width: 100%;
  font-size: 15px;
  padding: 6px;
  resize: none;
  margin-bottom: 8px;
}

.form-container label {
  font-size: 16px;
  color: rgb(255, 117, 207);
  padding: 2px 0;
}

.send-button {
  display: inline-block;
  padding: 10px 30px;
  margin-top: 10px;
  color: rgb(255, 117, 207);
  background-color: transparent;
  border: 2px solid rgb(255, 117, 207);
  width: 120px;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  cursor: pointer;
  transition: .3s ease background-color;
  transition-property: background-color, color;
}
.send-button:hover {
  color: white;
  background-color: rgb(255, 117, 207);
}
.send-button:active {
  background-color: rgba(255, 117, 207, 0.657);
}


/* -- Media Queries -- */

/* Tablet */
@media (max-width: 666px) {
  .contacts-container {
    width: 100%
  }
}

/* Mobile */
@media (max-width: 500px) {
  .social-section {
    width: 100%;
    flex-direction: column;
  }

  .social-section h2 {
    margin-bottom: 5px;
  }

  .direct-section {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .direct-section h2 {
    margin-bottom: 20px;
    text-align: center;
  }

  .form-container {
    margin: 0;
    padding: 5px 20px 20px 20px;
    width: 100%;
  }

  .fa-brands {
    color: rgb(255, 117, 207);
    margin: 20px;
  }

  .send-button {
    display: table;
    margin: 10px auto;
  }
  
  .send-button:active {
    background-color: rgb(255, 117, 207);
    color: white;
  }
}