#skills {
  /* background-image: url(/assets/images/crash-bandicoot-coco-bandicoot.gif); */
  background-image: url(/assets/images/cube-7256630_1920.jpg);
  background-size: cover;
  background-position: center;

  position: relative;
  z-index: 1;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#skills::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.769);
}

#skills .section-title {
  padding: 0;
  margin-left: 20px;
}


/* -- Stats -- */

.skills-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

.stats-card {
  width: 600px;
  height: 100%;
}

.stats-rows-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px;
}

.stats-row {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 5px 0;
}

.program-lang-icon {
  height: 45px;
  width: 45px;
  margin-right: 19px;
  background-color: transparent;
  border: 2px solid rgb(255, 117, 207);
  background-color: rgb(255, 117, 207);
  padding: 4px;
}

.css-icon {
  padding: 0;
}

.godot-icon {
  color: black !important;
}

.animated-progress {
  border: 2px solid rgb(255, 117, 207);
  width: 100%;
  height: 45px;
  padding: 7px;
  overflow: hidden;
  position: relative;
  align-items: center;
}

.progress-value {
  animation: load 3s normal forwards;
  height: 100%;
  width: 0;
  background-color: rgb(255, 117, 207);

  font-size: 23px;
  font-weight: 300;
  color: black;
  text-align: right;
}

.java-bar {
  animation: loadJ 3s normal forwards;
}

.sass-bar {
  animation: loadSass 3s normal forwards;
}

.js-bar {
  animation: loadJS 3s normal forwards;
}

.ng-bar {
  animation: loadNG 3s normal forwards;
}

.py-bar {
  animation: loadPy 3s normal forwards;
}

.flutter-bar {
  animation: loadFlutter 3s normal forwards;
}

.godot-bar {
  animation: loadGodot 3s normal forwards;
}

.dotnet-bar {
  animation: loadDotnet 3s normal forwards;
}

.csharp-bar {
  animation: loadCSharp 3s normal forwards;
}

.ts-bar {
  animation: loadTS 3s normal forwards;
}


/* -- Left Container -- */

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 400px;
}

.coco-monitor {
  border: 5px double rgb(255, 117, 207);
  border-radius: 20px;
  padding: 5px;
}

.img-coco {
  height: auto;
  max-width: 100%;
  border-radius: 15px;
  box-shadow: 0 0 50px rgba(255, 117, 207, 0.851);
  opacity: 80%;
}

/* -- Upgrading Loader -- */

.upgrading-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 370px;
  padding: 0 20px;
}

.skills-loader {
  padding: 20px;
  border: 18px solid rgb(139, 36, 135);
  border-radius: 50%;
  border-top: 18px solid rgb(255, 117, 207);
  width: 70px;
  height: 70px;
  animation: spinner 4s linear infinite;
}

.upgrading-letters-box {
  width: 400px;
  margin-top: 30px;
  margin-left: 30px;
}

.upgrading-letters {
  color: rgb(255, 117, 207);
  font-size: 25px;;
  display: inline-block;
  position: relative;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid rgba(255, 255, 255, .75);
  transform: translateY(-50%);
  animation:
    typewriter 1s steps(20, end) forwards;
}

/* -- Coco Gif -- */
.img-coco {
  height: auto;
}

/* -- Keyframes -- */

/* Typing Animation */

.anim-typewriter {
  animation:
    typewriter 3s steps(23) 1s infinite normal both,
    blinkTextCursor 500ms steps(20) infinite normal;
}

@keyframes spinner {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes typewriter {
  from {width: 0}
  to {width: 100%}
}

@keyframes blinkTextCursor {
  from {border-color: transparent}
  to {border-color: rgb(255, 117, 207)}
}


/* Progress Bar Animation */

@keyframes load {
  0% {width: 0;}
  100% {width: 100%;}
}

@keyframes loadSass {
  0% {width: 0;}
  100% {width: 100%;}
}

@keyframes loadJS {
  0% {width: 0;}
  100% {width: 100%;}
}

@keyframes loadNG {
  0% {width: 0;}
  100% {width: 100%;}
}

@keyframes loadPy {
  0% {width: 0;}
  100% {width: 70%;}
}

@keyframes loadJ {
  0% {width: 0;}
  100% {width: 90%;}
}

@keyframes loadFlutter {
  0% {width: 0;}
  100% {width: 70%;}
}

@keyframes loadDotnet {
  0% {width: 0;}
  100% {width: 100%;}
}

@keyframes loadCSharp {
  0% {width: 0;}
  100% {width: 100%;}
}

@keyframes loadTS {
  0% {width: 0;}
  100% {width: 100%;}
}

@keyframes loadGodot {
  0% {width: 0;}
  100% {width: 50%;}
}


/* -- Media Queries -- */

/* Tablet */
@media (max-width: 1090px) {
  .skills-container {
    flex-direction: column;
	margin-bottom: 50px;
  }

  .section-title {
	margin-top: 50px;
  }
}

/* Mobile */
@media (max-width: 500px) {
  #skills .section-title {
    padding: 0;
    margin: 0;
    text-align: center;
	margin-top: 60px;
  }

  .stats-card {
    width: 370px;
    margin: 5px;
  }
}
