* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.scar {
  cursor: pointer;
  user-select: none;
}

.scar > img {
  width: 400px;
}

.closed {
  display: none;
}

.open {
  display: none;
}

.active {
  display: block;
}